<services>
  <service behaviorConfiguration="baseServerBehaviour" name="BusinessLogic.Services.FooService">
    <endpoint address="" behaviorConfiguration="webBehaviour" binding="webHttpBinding" bindingConfiguration="webHTTPServerBinding" contract="BusinessLogic.Services.IFooService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:8076/LSD/FooService" />
      </baseAddresses>
    </host>
  </service>
</services>

<bindings>                  
  <webHttpBinding>
    <binding name="webHTTPServerBinding" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" contentTypeMapper="JonGrant.Json.NewtonsoftJsonContentTypeMapper, BusinessLogic">
      <!--<security mode="TransportCredentialOnly">
              <transport clientCredentialType="Windows" proxyCredentialType="Windows"></transport>
          </security>-->
    </binding>
  </webHttpBinding>
</bindings>

<extensions>
  <behaviorExtensions>
    <add name="newtonsoftJsonBehavior" type="JonGrant.Json.NewtonsoftJsonBehaviorExtension, BusinessLogic" />
  </behaviorExtensions>
</extensions>

<behaviors>
  <serviceBehaviors>
    <behavior name="baseServerBehaviour">
      <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
      <serviceCredentials>
        <windowsAuthentication allowAnonymousLogons="false" includeWindowsGroups="true"/>
      </serviceCredentials>
    </behavior>
  </serviceBehaviors>
  <endpointBehaviors>
   <behavior name="webBehaviour">
     <webHttp defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="false"/>
     <newtonsoftJsonBehavior includeExceptionDetailInFaults="true" />
   </behavior>
  </endpointBehaviors>
</behaviors>
