<hr />
<div #details class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="clientName">Név</label>
                <input type="text" id="clientName" class="form-control" value="{{model ? model.ClientName: null}}" readonly />
            </div>
            <div class="form-group">
                <label for="OWFCID">OWF azonosító</label>
                <input type="text" id="OWFCID" class="form-control" value="{{model ? model.PccsCID: null}}" readonly />
            </div>
            <div class="form-group">
                <label for="birthDate">Születési dátum</label>
                <input type="text" id="birthDate" class="form-control" value="{{model ? model.BirthDate : null | date:'yyyy/MM/dd'}}" readonly />
            </div>
            <div class="form-group">
                <label for="clientAddress">Cím</label>
                <input type="text" id="clientAddress" class="form-control" value="{{model ? model.ClientAddress: null}}" readonly />
            </div>
            <div class="form-group">
                <label for="preferredServTime">Kiszolgálási idő</label>
                <input type="text" id="preferredServTime" class="form-control" value="{{model ? model.PreferredServTime: null}}" readonly />
            </div>
            <div class="form-group">
                <label for="reqAmontAndType">Igényelt összeg</label>
                <input type="text" id="reqAmontAndType" class="form-control" value="{{model ? model.ReqAmontAndType: null}}" readonly />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="OWFComment">OWF megjegyzés</label>
                <textarea id="OWFComment" class="form-control" value="{{model ? model.PccsComment: null}}" rows="4" readonly></textarea>
            </div>
            <form [formGroup]="leadDetailsForm" novalidate>

                <div class="form-group" [ngClass]="{'has-danger': !comment.valid}">
                    <label for="comment">Megjegyzés</label>
                    <textarea id="comment" class="form-control" formControlName="comment" [ngClass]="{'form-control-danger': !comment.valid}" rows="4" (change)="formValueChanged($event)"></textarea>
                    <div *ngIf="!comment.valid">
                        <div *ngIf="comment.errors.commentValidLead" class="form-control-feedback">A Megjegyzés mező kitöltése kötelező érvénytelen lead esetén!</div>
                        <div *ngIf="comment.errors.commentDependantState" class="form-control-feedback">A Megjegyzés mező kitöltése kötelező Függő státusz esetén!</div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-danger': !status.valid}">
                    <label for="currentStatusId">Státusz</label>
                    <select formControlName="status" class="form-control" [ngClass]="{'form-control-danger': !status.valid}" id="currentStatusId" name="CurrentStatusId" (change)="formValueChanged($event)">
                        <option *ngFor="let s of states" [ngValue]="s.Id">{{s.Name}}</option>
                    </select>
                </div>

                <div class="form-group" [ngClass]="{'has-danger': !contacted.valid}">
                    <label for="contacted">Bla-bla</label>
                    <select formControlName="contacted" class="form-control" [ngClass]="{'form-control-danger': !contacted.valid}" id="contacted" name="Contacted" (change)="formValueChanged($event)">
                        <option *ngFor="let n of nullableBooleanValues" [ngValue]="n.Value">{{n.Name}}</option>
                    </select>
                    <div *ngIf="!contacted.valid">
                        <div *ngIf="contacted.errors.contactedState" class="form-control-feedback">A mező kitöltése kötelező!</div>
                        <div *ngIf="contacted.errors.contactedValidLead" class="form-control-feedback">A mező kitöltése kötelező!</div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-danger': !agency.valid}">
                    <label for="agency_Id">Ügynökség</label>
                    <select formControlName="agency" class="form-control" [ngClass]="{'form-control-danger': !agency.valid}" id="agency_Id" name="Agency_Id" (change)="formValueChanged($event)">
                        <option *ngFor="let a of agencies" [ngValue]="a.FocusDescription">{{a.Name}}</option>
                    </select>
                    <div *ngIf="!agency.valid">
                        <div *ngIf="agency.errors.agencyState" class="form-control-feedback">Státusz állításnál kell, hogy legyen megjelölt ügynökség!</div>
                        <div *ngIf="agency.errors.agencyValidLead" class="form-control-feedback">Az Ügynökség mező kitöltése kötelező!</div>
                        <div *ngIf="agency.errors.agencyContacted" class="form-control-feedback">Az Ügynökség mező kitöltése kötelező!</div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-danger': !validLead.valid}">
                    <label for="validLead">Érvényes lead?</label>
                    <select formControlName="validLead" class="form-control" [ngClass]="{'form-control-danger': !validLead.valid}" id="validLead" name="ValidLead" (change)="formValueChanged($event)">
                        <option *ngFor="let n of nullableBooleanValues" [ngValue]="n.Value">{{n.Name}}</option>
                    </select>
                </div>

                <div class="form-group col-lg-4" [ngClass]="{'has-danger': successSave === false, 'has-success': successSave === true}">
                    <button (click)="save()" [disabled]="!leadDetailsForm.valid" type="submit" class="btn btn-primary">Mentés</button>
                    <div class="form-control-feedback" *ngIf="successSave === true">Sikeres mentés</div>
                    <div class="form-control-feedback" *ngIf="successSave === false">Nem sikerült a mentés</div>
                </div>
            </form>
        </div>
    </div>
    <div class="form-group">
        <label for="scoringMessages">Ajánlat</label>
        <textarea id="scoringMessages" class="form-control" value="{{model ? model.ScoringMessages: null}}" rows="4" readonly></textarea>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <button (click)="goBack()" type="submit" class="btn btn-primary">Vissza</button>
        </div>
    </div>
</div>
